# Ignore backup files anywhere
**~
**.backup
**.bak

# Exclude references (keep only FASTA files)
**.dict*
**.fasta.*

# Ignore all installed R packages
rpackages/*
# But include README
!rpackages/README.md

